/* Used to customsize link colours in various states*/
a:link {text-decoration: none;color:  	#2e6e9e;}
a:visited {text-decoration: none;color:  	#2e6e9e;}
a:hover {text-decoration: none;color: grey;}
a:active {text-decoration: none;color:  	#2e6e9e;}
/* Used to customize list bullet icons */
ul.a {list-style-type: circle;}
ul.b {list-style-type: disc;}
ol.c {list-style-type: upper-roman;}
ol.d {list-style-type: lower-alpha;}
/* Gives all html documents a standard size to work off*/
html {font-size: normal;}
body {
	background-color: #fff1e0;
	font-family: "Garamond", "Times New Roman", serif;
	margin: 0 auto;
	max-width: 100%;}
hr {
	color:#9e2f50;
	background-color: #9e2f50;
	border-style: solid;
	height: 2px;
	margin: 0.5%;
	border-top: 0;
}
h1 {
color:grey;
text-align: center;
font-family: "Garamond", "Times New Roman", serif;
margin: 0.2%;
}
.navbar_main {
text-align: center;
font-size: 150%;
font-family: "Garamond", "Times New Roman", serif;
margin: 0px;
}
.navbar_sub_main {
text-align: center;
font-size: 125%;
font-family: "Garamond", "Times New Roman", serif;
}
.container_centered {
text-align: center;
font-family: "Garamond", "Times New Roman", serif;
margin-right: 20px;
margin-left: 20px;
margin-bottom: 5px;
padding: 0px;
font-family: "Garamond", "Times New Roman", serif;
line-height: 105%;
}
.container_main{
margin-right: 20px;
margin-left: 20px;
margin-bottom: 5px;
padding: 0px;
font-family: "Garamond", "Times New Roman", serif;
line-height: 105%;
}
.left_align{
float: left;
font-family: "Garamond", "Times New Roman", serif;
}
.right_align{
float: right;
font-family: "Garamond", "Times New Roman", serif;
}
.center_align{
float: right;
font-family: "Garamond", "Times New Roman", serif;
}
/* Use regex to format all project showcase ids*/
div[id^='showcase']{
	margin-right: 3%;
margin-left: 3%;
}
.img-circle {
	border-radius: 50%;
}
/* Used to format the buttons */
.project_button {
	background: none;
     border:none; 
     padding:0!important;
     font: inherit;
     color:#2e6e9e;
     /*border is optional*/
     cursor: pointer;
     text-decoration: none;
}
.project_button:hover {
     color:grey;
}